*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/builds
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
*.iml
.gradle/
/local.properties
.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
repomix-output.xml
*.log